@model Tarefas.Web.Models.TarefaViewModel

<form asp-action="Create">
    @* @Html.LabelFor(model => model.Titulo, new {@class = "form-label"}) *@
    @* @Html.TextBoxFor(model => model.Titulo, new {@class = "form-control"}) *@

  <div class="form-group">
    <label for="Titulo">Titulo</label>
    <input type="Titulo" class="form-control" id="digiteotitulo" placeholder="Digite o título">
    <small id="Titulo" class="form-text text-muted">Digite o título de acordo com a tarefa associada.</small>
  </div>

  <div class="form-group">
    <label for="Descricao">Descrição</label>
    <input type="Descricao" class="form-control" id="digiteadescricao" placeholder="Digite a descrição">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>